body {
    font-family: Arial black;
    margin: 0;
    padding: 0;
    background-color: lightseagreen;
}

.banner {
    background-color: lightseagreen;
    color: lightpink;
    text-align: center;
    padding: 50px 0;
}

.startbutton {
    color: lightpink;
    background-color: lightseagreen;
    align-items: center;
    margin: auto;
    display: flex;
}
.startbutton:hover {
    background-color: rgb(255, 127, 236);
}

.topp {
    background-color: black;
    background-size: 100%;
    color: #ccc;
    width: 800px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 1%;
}
#buttonleft {
    border-radius: 50%;
    color: lightpink;
    background-color: lightseagreen;
    margin-left: 2%;
    width: 40px;
    height: 40px;
}
#buttonleft:hover {
    background-color: rgb(255, 127, 236);
}
#buttonright {
    border-radius: 50%;
    color: lightpink;
    background-color: lightseagreen;
    margin-right: 2%;
    width: 40px;
    height: 40px;
}
#buttonright:hover {
    background-color: rgb(255, 127, 236);
}
#titletop {
    color: lightpink;
}
#yt {
    display: flex;
    align-content: center;
    justify-content: center;
}

#conteneur {
    display: flexbox;
    background-color: lightseagreen;
    color: lightpink;
    height: 800px;
}
#reponse {
    display: grid;
    margin: 0% 20% 20%;
}